name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x' 

      - name: Deploy Application
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.DPPR_HOST }}
          username: ${{ secrets.DPPR_USER }}
          password: ${{ secrets.DPPR_PASSWORD }}
          port: 22
          script: |
  
            # Check if npm is available
            which npm || { echo "npm not found"; exit 1; }

            echo "Starting deployment process..."

            # Navigate to the application's directory
            cd /home/calvin-next/htdocs/doorprize.nexttechenterprise.site || exit

            # Pull the latest changes from the GitHub repository
            git pull origin main

            # Install dependencies
            npm install

            # Build the application
            npm run build
            
            # Reload or restart the application using PM2
            pm2 startOrReload ecosystem.config.cjs

            # Save the PM2 process list and startup script
            pm2 save
            
            # Set up PM2 to start on boot with systemd
            pm2 startup systemd -u ${USER} --hp /home/${USER}

            # Exit with a success message
            echo "Deployment complete!"
            exit 0
        
